:root {
  --background: #17202b; /* Dark background */
  --text-color: white; /* Default text color */
  --blue-color: #3370ff; /* ImmersifyVR blue */
  --blue-hover-color: #2857cc; /* Hover state for blue */
  --accent-color: #060b12; /* Accent color for cards and sections */
  --navbar-color: #060b12; /* Navbar background color */
  --footer-color: #060b12; /* Footer background color */
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--background);
  color: var(--text-color);
}

body, button {
  font-family: "Montserrat", sans-serif;  
}