:root {
  --background: #17202b; /* Dark background */
  --text-color: white; /* Default text color */
  --blue-color: #3370ff; /* ImmersifyVR blue */
  --navbar-color: #060b12;
  --footer-color: #060b12; /* Footer background color */
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--background);
  font-family: "Montserrat", sans-serif;
  color: var(--text-color);
}
