.sideBySide {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.sideBySide > * {
  flex: 1;
  text-align: center;
  margin: 0 1rem;
}

.sideBySide img {
  width: 100%;
  height: 200px;
  padding: 1rem;
  object-fit: cover;
  border-radius: 20px;
}

@media (max-width: 768px) {
  .sideBySide {
    flex-direction: column;
  }

  .sideBySide > * {
    margin: 1rem 0;
  }
}