.videoDemo {
  width: 100%;
  aspect-ratio: 16 / 9;
}

.whatWeOfferContainer {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

.offerRow {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  height: 250px;
  margin-bottom: 2rem;
}

.offerImage {
  flex: 1;
}

.offerImage img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
}

.offerText {
  flex: 1;
  text-align: left;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: -1rem;
}

.offerText h2 {
  margin-bottom: 0.5rem;
  color: white;
}

.offerText p {
  line-height: 1.6;
  color: white;
}

@media (max-width: 768px) {
  .offerRow {
    flex-direction: column;
    gap: 1rem;
    height: auto;
    margin-bottom: 2.5rem;
  }
  
  .offerImage {
    width: 100%;
  }
  
  .offerImage img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
  }
  
  .offerText {
    text-align: center;
    height: auto;
    margin-top: 0;
    width: 100%;
  }
  
  .offerText h2 {
    margin-bottom: 1rem;
  }
  
  .offerText p {
    text-align: center;
    max-width: 100%;
  }
}